body {
    margin: 0;
    font-family: Arial, sans-serif;
    align-items: center;
}

header {
    width:auto;
    display:flex;
    background-color:skyblue;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

h1{
    text-align: center;
}


section {
    display:flex;
    height: 12%;
}

#left-section {
    width: 280%;
    background-color: #ddd;
    justify-content: left;
    font-size: medium;
    font-family: sans-serif;
}

#left-section h2{
    font-size:20px;
    margin-left:15px;
    margin-top:5%;
    text-align: center;
} 

.space{
    text-align:left;
    margin-left:15px;
    font-size:15px;
    width:90%;
}

#middle-section {
    width: 50%;
}

#right-section {
    width: 350%;
    height: 100vb;
    background-color: #ddd;
    text-align: center;
    margin-left: 2%;
    font-size: medium;
}

#right-section h2{
    font-size:18px;
    text-align :center;
    margin-left: 12px;
    margin-top: 15%;
}

#title{
    text-align: center;
    margin-right: 10%;
}

#On{
    margin-bottom: 5%;
    margin-left: 8%;
    position: relative;
    outline: none;  
    width: 300px;
    height: 40px;
    border-radius: 7px;
    font-size: small;
    font-weight:600;
    background-color:white;
    color: black;
    cursor: pointer;
}
#recal{
    margin-bottom:4%;
    margin-left:8%;
    position: relative;
    outline: none;  
    width: 300px;
    height: 40px;
    border-radius: 7px;
    font-size: small;
    font-weight: 600;
    background-color:white;
    color: black;
    cursor: pointer;
}

#reset{
    margin-left: 8%;
    position: relative;
    outline: none;  
    width: 300px;
    height: 40px;
    border-radius: 7px;
    font-size: small;
    font-weight: 600;
    background-color:white;
    color:black;
    cursor: pointer;
}

.slider{
    margin-left:3%;
    width: 190px;
}
.container{
    margin-top: 100px;
}

#leftValue{
    margin-left:8%;
}

.label-container {
    margin-left: 15%;
    font-size: small;
    margin-bottom:6%;
}

#progressBar {
    background-color: rgb(247, 245, 245);
    width: 250px;
    position: relative;
    float: inline-end;
    height: 30px;
    margin-right: 23%;
    margin-top: 5%;
}

#progress {
    width: 18%;
    height: 100%;
    background-color:rgb(239, 217, 125);
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

#timer {
    z-index: 2;
    text-align: center;
    line-height: 30px;
    color: black;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#table1{
    text-align: center;
    width:100%;
    margin: auto;
    background-color: whitesmoke;
    position: relative;
    margin-left: 2%;

}

#table2{
    margin-top: 5px;
    position:relative;
    text-align: center;
    width:100%;
    margin-left: 2%;
    background-color: whitesmoke;
}
#label_1{
    text-align: center;
    font:600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 7%;
    margin-left: 40%;
}

#label_2{
    font:600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 32%;
    
}
th{
    width:2%;
    height:20px;
    border: 2px solid black;
    background-color: #ddd;
}
td{
    width:10%;
    height:30px;
    border: 2px solid black;
}

img{
    margin-top:15px;
    width:95%;
    height:45%;
}
#about{
    background: #cdcfcf;
    color:  rgb(102, 99, 99);
    height:40px;
    width:80px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 3px;
    font-size: medium;
}
#about:hover {
    background: #9fa1a1;
}


@media screen and (min-width: 300px) and (max-width: 600px) {
    header{
        width:700px;
    }
    section{
        display:flow-root;
        width: 180px;
    }
    #left-section{
        width:180%;
        margin:0 0 0 4%;
    }
    #about{
        margin-left: 30%;
    }
    #right-section{
        width: 190%;
        text-align: center;
        align-items: center;
        margin-top: -650%;
        margin-left: 190%;
        height:450px;
    }
    #table1{
        width:500px;
        margin-left:70%;
    }
    #table2{
        width:650px;
        margin-left: 10%;
        margin-top: 50%;
    }
    #label_2{
        position:absolute;
        margin-left:230px;
        text-align: center;
    }
    #middle-section{
        margin-left: 10%;
    }  
    .video{
        margin:50% 0 0 0 ;
        width:730%;
    }
    #label_1{
        display:flex;
        margin-left:270px;
    }
  }



@media screen and (min-width: 601px) and (max-width: 900px) {
    header{
        width:900px;
    }
    section{
        display:flow-root;
        width: 180px;
    }
    #left-section{
        width:280%;
        margin:0 0 0 4%;
    }
    #about{
        margin-left: 30%;
    }
    #right-section{
        width: 210%;
        text-align: center;
        align-items: center;
        margin-top: -593%;
        margin-left: 290%;
        height:450px;
    }
    #table1{
        width:600px;
        margin-left:125%;
    }
    #table2{
        width:770px;
        margin-left: 50%;
        margin-top: 50%;
    }
    #label_2{
        position:absolute;
        margin-left:300px;
        text-align: center;
        display:flex;
    }
    #middle-section{
        margin-left: 10%;
    }  
    .video{
        position:relative;
        width:950%;
    }
    #label_1{
        display:flex;
        margin-left:360px;
    }
  }
