
:root{
    background-color: rgb(220, 238, 249);  
    padding: 5px;
    margin-left: 10%;   
    width: 86%;
    float: left;
    border: 1px solid #ebeefa;
    box-shadow: 0 0 55px #caccd4;
    -webkit-box-shadow: 0 0 55px #ced6f5;
    -ms-box-shadow: 0 0 55px #858aa5;                           

    }
    *{
        margin: 0;
        padding: 0;
    }
    body{
        display: absolute;
        width: 100%;
        height: 100%;
    }
    #Back {
        align-items: center;
        padding: 10px;
        margin-left: 50%;
        margin-bottom: 2%;
        background: #5f807c;
        color: white;
        cursor: pointer;
        transition: 0.3s;
        font-size: larger;
    }
    
    #Back:hover {
        background: #03354a; 
        transition: 0.3s;  
    }
    h1{
        display: flex;
        justify-content: center;
        margin-top: 2%;
        color: black;
        font-size:40px;
    }

    h2{
        display: flex;
        text-align: center;
        margin-left: 5px;
        color: black;
    }
    h5{
        display: flex;
        text-align: center;
        margin-left: 5px;
        color: black;
    }

    h6{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: black ;
        padding: 8px;
        margin: 5px;
        text-align: center;
    }

    p{
        font-size: 20px;
        font-family:sans-serif;
        color: black;
    }
    .single{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:15%
        
    }
    
    .circuit{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:35%;
    }

    .calculation{
        margin-left: 5%;
    }

    #Apparatus{
        padding:5px;
        margin-top: 7px;
        position:relative;
        text-align: center;
        width:70%;
        margin-left: 15%;
        background-color: whitesmoke;
    }
    th{
        width:10%;
        height:20px;
        border: 2px solid black;
    }
    td{
        width:10%;
        height:30px;
        border: 2px solid black;
    }


    @media screen and (max-width: 600px) {
        :root{
            background-color: rgb(220, 238, 249);  
            padding: 3px;
            margin-left: 7%;   
            width: auto;
            float: left;
            border: 1px solid #ebeefa;
            box-shadow: 0 0 55px #caccd4;
            -webkit-box-shadow: 0 0 55px #ced6f5;
            -ms-box-shadow: 0 0 55px #858aa5; 
        }                          
        *{
            margin: 0;
            padding: 0;
        }
        body{
            float:left;
            display: absolute;
            width: 100%;
            height: 100%;
        }

    }

    
